<h2>Install</h2>
<div metis-menu class="faq-menu" toggle="false" triggerElement=".faq-link" parentTrigger=".faq-item"
  subMenu=".faq-answer">

  <div class="faq-item">
    <h4 class="faq-link has-arrow">With npm</h4>
    <div class="faq-answer text-muted">
      <p>
        <code>npm install @metismenu/angular metismenujs</code>
      </p>
    </div>
  </div>

  <div class="faq-item">
    <h4 class="faq-link has-arrow">With yarn</h4>
    <div class="faq-answer text-muted">
      <p>
        <code>npm install @metismenu/angular metismenujs</code>
      </p>
    </div>
  </div>

</div>